appdirs==1.4.4
arabic-reshaper==2.1.1
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
blinker==1.4
boto3==1.16.57
botocore==1.19.57
cairocffi==1.2.0
CairoSVG==2.5.1
certifi==2020.6.20
cffi==1.14.3
click==7.1.2
colorama==0.4.4
cryptography==3.4.6
cssselect2==0.4.1
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
docx==0.2.4
docx2pdf==0.1.7
ecdsa==0.14.1
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
Flask-AWSCognito==1.3
flask-dynamo==0.1.2
Flask-JWT-Extended==3.25.0
Flask-JWT-Simple==0.0.3
Flask-Principal==0.4.0
Flask-WTF==0.14.3
future==0.18.2
gcloud==0.17.0
googleapis-common-protos==1.52.0
html5lib==1.1
htmldocx==0.0.4
httplib2==0.18.1
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
jwcrypto==0.8
jws==0.1.3
kaleido==0.0.3.post1
kiwisolver==1.3.1
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
notebook==6.1.5
numpy==1.19.2
oauth2client==3.0.0
packaging==20.4
pandas==1.1.2
pandocfilters==1.4.3
parso==0.7.1
pdfkit==0.6.1
pickleshare==0.7.5
pika==1.1.0
Pillow==8.0.1
plotly==4.12.0
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.13.0
psutil==5.7.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.7.2
PyJWT==1.7.1
pyparsing==2.4.7
PyPDF2==1.26.0
Pyphen==0.10.0
PyQt5==5.15.1
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.1
pyrsistent==0.17.3
PySimpleGUI==4.30.0
python-bidi==0.4.2
python-dateutil==2.8.1
python-docx==0.8.10
python-jose==3.2.0
python-jwt==2.0.1
pytz==2020.1
pywin32==227
pywinpty==0.5.7
pyzmq==19.0.2
reportlab==3.5.59
requests==2.11.1
requests-toolbelt==0.7.0
retrying==1.3.3
rsa==4.6
s3transfer==0.3.4
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
soupsieve==2.2
terminado==0.9.1
testpath==0.4.4
tinycss2==1.1.0
tornado==6.1
tqdm==4.58.0
traitlets==5.0.5
urllib3==1.25.11
virtualenv==20.0.35
wcwidth==0.2.5
WeasyPrint==52.2
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
WTForms==2.3.3
xhtml2pdf==0.2.5
