{% extends 'base.html' %}

{% block head %}
<title>Posts Page</title>


{% endblock %}



{% block body %}
<h1> Posts </h1>
{#    {{ table[0] }}#}
    <hr>
<h2>Post a new finding</h2>

<form action="/posts" method="post">
    Title: <label for="title"></label>
    <input type="text" name="title" id="title">
    <br><br>

    Content: <label for="content"></label>
    <input type="text" name="content" id="content">
    <br><br>
    <input type="submit" value="Post" >
</form>

<hr>

    {% for post in table %}
        <h2>{{ post['uid'] }}</h2>
        <h2>{{ post['poster_uid'] }}</h2>
        <h1>{{ post['content'] }}</h1>
        <h3>{{ post['timestamp'] }}</h3>
        <a href="/posts/delete/{{ post['uid'] }}/{{ post['poster_uid'] }}">Delete</a>
        <a href="/posts/review/{{ post['uid'] }}/{{ post['poster_uid'] }}">Review</a>

        <hr>

    {% endfor %}


{% endblock %}