{% extends 'base.html' %}

{% block head %}
    <title>Review</title>
    <style>
        .tag-container {
            border: 2px solid #ccc;
            border-radius: 3px;
            background: #fff;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            padding: 6px;
        }

        .tag-container .tag {
            height: 30px;
            margin: 5px;
            padding: 5px 6px;
            border: 1px solid #d0cece;
            border-radius: 3px;
            background: #eeeeee;
            display: flex;
            align-items: center;
            color: #333;
            cursor: default;
        }

        .tag i {
            font-size: 16px;
            color: #666;
            margin-left: 5px;
        }

        .tag-container input {
            padding: 5px;
            font-size: 16px;
            border: 0;
            outline: none;
            color: #333;
            flex: 1;
        }

        .scrollable {
            height: 650px;
            overflow-y: scroll;
        }
    </style>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>




{% endblock %}


{% block body %}
    <section class="py-5 text-center container">
        <div id="header" class="row">
            <div class="mx-auto">
                <h1 style="display: inline" class="fw-light mx-5">בקרה שנייה לממצא</h1>
            </div>
        </div>
    </section>
    <hr>


    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal"
                  method="post">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label for="title">כותרת הממצא</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ item['Title'] }}">
                    {% for error in form.title.errors %}
                        <li style="color: #9C1A1C">{{ error }}</li>
                    {% endfor %}
                    <br>
                    <label for="finding_description">פירוט הממצא</label>
                    <input type="text" class="form-control" id="finding_description" name="finding_description"
                           value="{{ item['Description'] }}">
                    {% for error in form.finding_description.errors %}
                        <li style="color: #9C1A1C">{{ error }}</li>
                    {% endfor %}
                </div>
                <br>
                <div class="form-group">
                    <label for="risk_probability">סבירות מימוש הסיכון</label>
                    <select class="form-control" id="risk_probability" name="risk_probability">
                        <option>- בחר -</option>
                        <option>נמוכה</option>
                        <option>בינונית</option>
                        <option>גבוהה</option>
                    </select>
                    {% for error in form.risk_probability.errors %}
                        <li style="color: #9C1A1C">{{ error }}</li>
                    {% endfor %}
                    <br>
                    <label for="risk_severity">חומרת הסיכון</label>
                    <select class="form-control" id="risk_severity" name="risk_severity">
                        <option>- בחר -</option>
                        <option>נמוכה</option>
                        <option>בינונית</option>
                        <option>גבוהה</option>
                    </select>
                    {% for error in form.risk_severity.errors %}
                        <li style="color: #9C1A1C">{{ error }}</li>
                    {% endfor %}
                    <br>
                    <label for="risk_level">רמת סיכון כוללת</label>
                    <select class="form-control" id="risk_level" name="risk_level">
                        <option>- בחר -</option>
                        <option>נמוכה</option>
                        <option>בינונית</option>
                        <option>גבוהה</option>
                    </select>
                    {% for error in form.risk_level.errors %}
                        <li style="color: #9C1A1C">{{ error }}</li>
                    {% endfor %}
                </div>
                <br>
                <div class="form-group">
                    <label for="risk_description">פירוט מימוש הסיכון</label>
                    <textarea class="form-control" id="risk_description" name="risk_description" rows="5"></textarea>
                    {% for error in form.risk_description.errors %}
                        <li style="color: #9C1A1C">{{ error }}</li>
                    {% endfor %}
                </div>

                <br>
                <div class="form-group " id="container">
                    <label style="display: inline" for="risk_recommendations">המלצות</label>
                    <textarea class="form-control" id="risk_recommendations" name="risk_recommendations"
                              rows="5">{{ item['Recommendations'] }}</textarea>
                    {% for error in form.risk_recommendations.errors %}
                        <li style="color: #9C1A1C">{{ error }}</li>
                    {% endfor %}
                </div>
                <br>
                <div>
                    <input class="tags" type="hidden" id="tags" name="tags">
                    <input class="btn btn-outline-success mx-auto btn-lg" width="50" type="submit" id="submit"
                           name="submit" value="שמור">
                </div>
                <br><br>
                <br>
            </form>
        </div>


        <div class="container-fluid col-sm-4">
            <nav class="bg-light sidebar list-group-item">
                <div class="tag-container">
                    <input id="tag-search" type="text" class="fw-light list-group-item" placeholder="טאגים...">
                </div>
                <div class="sidebar-sticky scrollable">
                    {% for tag in tags %}
                        {% set finalTag = tag.replace('&', '').replace(' ', '') %}
                        <li class="list-group-item tag-item" id="{{ finalTag }}">
                            <input id="checkbox+{{ tag }}" class="form-check-input checkbox" type="checkbox"
                                   value="{{ tag }}">
                            <label class="form-check-label" for="checkbox+{{ tag }}">{{ tag }}</label><br>
                        </li>

                    {% endfor %}
                    <br>
                </div>

            </nav>

        </div>
    </div>


    <script>
    // Load defaults or form data
        const title = document.getElementById('title')
        const description = document.getElementById('finding_description')
        const riskProbability = document.getElementById('risk_probability')
        const riskSeverity = document.getElementById('risk_severity')
        const riskLevel = document.getElementById('risk_level')
        const riskDescription = document.getElementById('risk_description')
        const recommendations = document.getElementById('risk_recommendations')

        const s = recommendations.innerText

        const formTitle = '{{ form.title.data }}'
        const formDescription = '{{ form.finding_description.data }}'
        const formProbability = '{{ form.risk_probability.data }}'
        const formSeverity = '{{ form.risk_severity.data }}'
        const formLevel = '{{ form.risk_level.data }}'
        const formRiskDescription = '{{ form.risk_description.data }}'
        const formRecommendations = '{{ form.risk_recommendations.data }}'

        if (formTitle !== "") {
            title.innerText = formTitle
        } else {
            title.innerText = '{{ item['Title'] }}'
        }

        if (formDescription !== "") {
            description.innerText = formDescription
        } else {
            description.innerText = '{{ item['Description'] }}'
        }

        if (formProbability !== "" && formProbability.toString() !== 'None') {
            selectElement(riskProbability, formProbability)
        } else {
            selectElement(riskProbability, '{{ item['Probability'] }}')
        }

        if (formSeverity !== "" && formSeverity.toString() !== 'None') {
            selectElement(riskSeverity, formProbability)
        } else {
            selectElement(riskSeverity, '{{ item['Severity'] }}')
        }
        if (formLevel !== "" && formLevel.toString() !== 'None') {
            selectElement(riskLevel, formLevel)
        } else {
            selectElement(riskLevel, '{{ item['OverallRisk'] }}')
        }
        if (formRiskDescription !== "") {
            selectElement(riskDescription, formRiskDescription)
        } else {
            riskDescription.innerText = `{{ item['RiskDetails'] }}`
        }

        if (formRecommendations !== "") {
            recommendations.innerText = formRecommendations
        } else {
            recommendations.innerHTML = `{{ item['Recommendations']}}`
        }

    function selectElement(element, valueToSelect) {
        element.value = valueToSelect;
    }

    </script>


    <script>
        let tags = []


        let currentTags = '{{ item['Tags'] }}'

        let tagsSearch = document.getElementById('tag-search')
        let tagItems = document.getElementsByClassName('tag-item')
        let hidden = document.getElementById('tags')
        let checkboxes = document.getElementsByClassName('checkbox')



        for (let i = 0; i < checkboxes.length; i++) {
            let checkbox = checkboxes[i]
            if (currentTags.includes(checkbox.value)){
                checkbox.checked = true
                tags.push(checkbox.value)
            }
            hidden.value = tags
            checkbox.addEventListener('change', function () {
                if (checkbox.checked) {
                    tags.push(checkbox.value)
                } else {
                    const index = tags.indexOf(checkbox.value);
                    tags = [...tags.slice(0, index), ...tags.slice(index + 1)];
                }
                hidden.value = tags
                console.log(hidden.value)

            })
        }

        tagsSearch.addEventListener('input', function () {
            for (let i = 0; i < tagItems.length; i++) {
                let item = tagItems[i]
                const itemId = item.id.toLowerCase()
                const searchValue = tagsSearch.value.toLowerCase()
                const parsedItemId = item.id.replace('&', '').replace(' ', '')
                if (itemId.includes(searchValue) || searchValue === "") {
                    $("#" + parsedItemId.toString()).show(200)
                } else {
                    $("#" + parsedItemId.toString()).hide(200)
                }
            }
        })


    </script>

{% endblock %}