{% extends 'base.html' %}

{% block head %}
    <title>Submit</title>

{% endblock %}

{% block body %}

    <section class="py-5 text-center container">
        <div class="row py-lg-2">
            <div class="col-lg-6 col-md-2 mx-auto">
                <h1 style="display: inline" class="fw-light mx-5">הוספת ממצא חדש</h1>
            </div>
        </div>
    </section>


    <form class="form-horizontal" action="/submit" method="post">
        {{ form.csrf_token }}
        <label for="title">כותרת</label>
        <input class="form-control" type="text" name="title" id="title" placeholder="הזן כותרת..."
               aria-label="Enter title">
        <ul>
            {% for error in form.title.errors %}
                <li style="color: #9C1A1C">{{ error }}</li>
            {% endfor %}
        </ul>
        <br><br>

        <div class="form-group">
            <label for="content">תוכן</label>
            <textarea class="form-control" name="content" id="content" placeholder="הזן תוכן" rows="10"></textarea>
            <ul>
                {% for error in form.content.errors %}
                    <li style="color: #9C1A1C">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <br><br>

        <input class="btn btn-outline-success mx-auto btn-lg" width="50" type="submit" name="submit" value="הוסף">
        <input class="btn btn-outline-primary mx-auto btn-lg" width="50" type="submit" name="submit"
               value="הוסף וצור חדש">

    </form>

{% endblock %}