{% extends 'base.html' %}

{% block head %}
    <title>View</title>
    <style>
        h2 {
            font-family: Tahoma;
            font-weight: bold;

        }

        p {
            font-family: Tahoma;
            margin: 0;
            padding: 0;
        }

        br {
            font-family: Tahoma;
            font-size: 18.66px;
            line-height: 18.66px;
            max-lines: 1;
            line-break: initial;
            display: block;
            margin: 0;
            padding: 0;
            content: "";
        }

        #title {
            margin-bottom: 10px;

        }
    </style>
{% endblock %}

{% block body %}
    <section class="py-5 text-center container">
        <div id="header" class="row">
            <div class="mx-auto">
                <h1 style="display: inline" class="fw-light mx-5">צפייה בממצא</h1><br><br>
            </div>
        </div>

    </section>
    <small style="display: inline" class="fw-light">נוצר על ידי: {{ item['CreatedBy'] }}</small><br>
    <small style="display: inline" class="fw-light">נסקר על ידי:&nbsp {{ item['ReviewedBy'] }}</small><br>
    <small style="display: inline" class="fw-light">תאריך פרסום:&nbsp {{ item['ReviewedAt'] }}</small><br>

    <hr>
    {#green : 70ad47#}
    {#yello : ffc000 #}
    {#red :ff0000 #}
    {#     #}
    <div id="finding">
        <p style="font-size: 21px"><b>{{ item['Title'] }}</b></p>
        {#Line Break    #}
        <p class="" id="lineBreak" style="font-size: 18.66px">&nbsp</p>

        <p id="title" style="font-size: 18.66px"><u>פירוט הממצא</u></p>
        <p style="font-size: 13.33px">{{ item['Description'] }}</p>
        {#Line Break    #}
        <p class="" id="lineBreak" style="font-size: 18.66px">&nbsp</p>

        <p style="font-size: 13.33px">סבירות מימוש הסיכון: <a
                style="font-size: 13.33px"><b>{{ item['Probability'] }}</b></a></p>
        <p style="font-size: 13.33px">חומרת הסיכון: <a style="font-size: 13.33px"><b>{{ item['Severity'] }}</b></a></p>
        <p style="font-size: 13.33px"><b> רמת סיכון:</b> <a style="font-size: 13.33px"><b>{{ item['OverallRisk'] }}</b></a>
        </p>
        {#Line Break    #}
        <p class="" id="lineBreak" style="font-size: 18.66px">&nbsp</p>

        <p id="title" style="font-size: 18.66px"><u>פירוט מימוש הסיכון</u></p>
        <p style="font-size: 13.33px">{{ item['RiskDetails'] }}</p>
        {#Line Break    #}
        <p class="" id="lineBreak" style="font-size: 18.66px">&nbsp</p>

        <p id="title" style="font-size: 18.66px"><u>המלצות</u></p>
        <p id="recommendations" style="font-size: 13.33px"></p><br>
    </div>
    <br><br>
    <hr>

    {% if data['admin'] %}
        <div>
        <br>
            <a type="button" class="btn btn-sm btn-outline-primary"
               href="/findings/edit/finding={{ item['Uid'] }}by={{ item['CreatedBy'] }}">ערוך</a>
        </div>

    {% endif %}

    {# Format recommendations   #}
    <script>
        const element = document.getElementById("recommendations")
        const text = `{{ item['Recommendations'] }}`

        const split = text.split("\n")
        let finalString = ""


        for (let x = 0; x < split.length; x++) {
            const splitText = split[x].trim()
            const finalText = '\u2713 ' + splitText
            finalString = finalString + finalText + "\n"

        }
        element.innerText = finalString
    </script>

    {# Format ranks colors  #}
    <script>
        const findingDiv = document.getElementById('finding')
        const elements = findingDiv.getElementsByTagName('A')

        for (i = 0; i < elements.length; i++) {
            const el = elements[i]

            if (el.innerText === "נמוכה") {
                {#el.innerHTML = "<b>נמוכה<b>"#}
                el.style.color = "#70ad47"
            } else if (el.innerText === "בינונית") {
                {#el.innerHTML = "<b>בינונית<b>"#}
                el.style.color = "#ffc000"
            } else if (el.innerText === "גבוהה") {
                {#el.innerHTML = "<b>גבוהה<b>"#}
                el.style.color = "#ff0000"
            }

        }

        {#for (let x = 0; x < split.length; x++) {#}
        {#    const splitText = split[x].trim()#}
        {#    const finalText = '\u2713 ' + splitText#}
        {#    finalString = finalString + finalText + "\n"#}


    </script>

{% endblock %}